@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyLocalFont';
  src: url('../public/font/Vazirmatn-Regular.woff2') format('truetype'); 
}

body {
  margin: 0;
  font-family: MyLocalFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

